<div class="px-2 py-4 my-3 border border-gray-300 rounded-2xl text-slate-900 dark:text-slate-200">
    <div class="text-lg font-semibold">@Meeting.Date.ToString("D"): @Meeting.Name</div>
    <div class="italic">@Meeting.StartTime.ToString("t") / @Meeting.EndTime.ToString("t")</div>
    <div>@Meeting.Details</div>
</div>

@code {
    [Parameter, EditorRequired]
    public Meeting Meeting { get; set; } = null!;

    [Parameter]
    public bool Editable { get; set; }
}
