@inject IUserStateService UserStateService
@implements IDisposable
<div class="px-3 sm:px-6 py-4 w-fit my-3 rounded-xl text-slate-900 dark:text-slate-200 bg-gray-100 dark:bg-slate-900 flex align-middle">
    <div>
        <div class="text-xl font-semibold">@Meeting.Name</div>
        <div class="text-lg font-semibold">@Meeting.Date.ToString("D")</div>
        <div class="italic">@Meeting.StartTime.ToString("t") / @Meeting.EndTime.ToString("t")</div>
        <div>@Meeting.Details</div>
        @if (Attendance)
        {
            <AuthorizeView>
                <NotAuthorized>
                    <span class="underline text-gray-500">
                        Log in to take attendance
                    </span>
                </NotAuthorized>
                <Authorized>
                    @if (user is not null && Meeting.RegisteredAttendees.Contains(user.Id))
                    {
                        <span class="text-gray-500">Attendance taken!</span> 
                    }
                    else
                    {
                        <button @onclick=TakeAttendanceAsync class="bg-indigo-500 text-white active:bg-indigo-600 py-1 px-2 rounded-lg">Take Attendance Now!</button>
                    }
                </Authorized>
            </AuthorizeView>
        }
    </div>
    @if (Editable)
    {
        <div class="pl-3">
            <button class="p-1 rounded-md text-rose-500 hover:text-white hover:bg-rose-500 grow-0" @onclick="() => OnDelete.InvokeAsync(Meeting)">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public Meeting Meeting { get; set; } = null!;

    [Parameter]
    public bool Editable { get; set; }

    [Parameter]
    public bool Attendance { get; set; }

    [Parameter]
    public EventCallback<Meeting> OnDelete { get; set; }

    [Parameter]
    public EventCallback<Guid> OnAttendance { get; set; }

    private AppUser? user;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            user = await UserStateService.CurrentAsync();
            UserStateService.Updated += OnUserUpdated;
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task TakeAttendanceAsync()
    {
        if (user is not null)
        {
            await OnAttendance.InvokeAsync(user.Id);
            await InvokeAsync(StateHasChanged);
        }
    }

    private void OnUserUpdated(object? _, AppUser? newUser) =>
        user = newUser;

    public void Dispose() =>
        UserStateService.Updated -= OnUserUpdated;
}
